public_webapp/xml-types/Login.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:element name="login">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string" />
                <xs:element name="password" type="xs:string" />
                <xs:element name="required" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

