public_webapp/xml-types/Tasks.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Task">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="id"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element type="xs:string" name="done"/>
              <xs:element type="xs:decimal" name="userId"/>
              <xs:element type="xs:decimal" name="categoryId"/>
              <xs:element type="xs:float" name="latitude"/>
              <xs:element type="xs:float" name="longitude"/>
              <xs:element type="xs:string" name="personal"/>
              <xs:element type="xs:decimal" name="assignedUserId"/>
              <xs:element type="xs:string" name="attachment"/>
              <xs:element type="xs:long" name="timeStamp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>